{%extends "baze.html"%}

{%block styles%}
{{super()}}
{%endblock%}

{%block navbar%}
{{super()}}
{%endblock%}


{%block content%}
<div class="main-body">
        <div class=" topper"></div>
        <div class="col-md-8 middle-content">
            <div class="top-area">
                <h1>Health Status</h1>
                <div class="hero">
                    <p><span class="hero-text">Visualization of distribution of health resources in Kenya based on their geographic locations using Geographic coodinate systems</span></p>
                    <div class="options">
                        <select class="btn btn-primary">
                            <option>Select</option>
                            <option><a href="maps_templates/Healthworkforce.html" target="map-area">open hospitals</a></option>
                            <option>Open during holidays(all holidays)</option>
                            <option>Open throughout</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="map-display-area">
                <h4>Visualizations</h4>
                <iframe src="" style="border:none" name="map-area" title="visualizations" height="250px"width="650px"class="mapsDisplay"></iframe>
                <a href="{{url_for("views.index")}}" target="map-area">county</a>
            </div>
            <div class="discussions">
                <h3>Discussions</h3
            </div>
        </div>
        <div class=" bottom"></div>
    </div>
</div>
{%block footer%}
{{super()}}
{%endblock%}
{%endblock%}